<DOCTYPE!>
<html>
<head>
</head>
<body>
  <h1> Places I have been </h1>
  <form action = "/result"  method = "post">
  <label for="country-name">Enter a country you have visited</label>
  <input type="text" name="country-name" id="country-name">
    <label for="city-name">Enter a city you have visited</label>
    <input type="text" name="city-name" id="city-name">
    <label for="city-year">Enter the year you visited</label>
    <input type="number" name="city-year" id="city-year">
    <button type="submit">GO</button>
  </form>
</body>
</html>
